.container{
  /* padding-top: 10%; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con {
  height: 600px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.move-list {
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  min-width: 350px;
}