.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 25px 25px;
  border-bottom: 2px solid rgba(var(--callout-border-rgb), 0.3);
}

.logo{
  font-size: 25px;
  flex-grow: 1;
}

.toggle-theme-btn{
  height: 45px;
  width: 45px;
  cursor: pointer;
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: 7px;
  background: none;
}

.toggle-theme-btn:hover {
  background-color: rgba(var(--callout-rgb), 0.7);
}